*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
	line-height: 1.5;
	font-family: 'Arimo', sans-serif;
}
a{
	text-decoration: none;
	color: #FF9900;
}
a:hover{
	text-decoration: none;
	color: black;
}

.header{
	width: 100%;
	height: 140px;
	background-color: #990000;
	text-align: center;
}
.header__logo--img{
	width: 120px;
	height: 120px;
	margin: 10px 0;
	margin-left: 20px;
	left: 0;
	position: absolute;
}
.header__heading{
	margin-top: 32px;
	vertical-align:center;
	color: #fff;
}



.main-body{
	width: 100%;
	text-align: center;
}
.navigation{
	height: auto;
	padding: 0 50px;
	float: left;
}

.navigation__item{
	cursor: pointer;
	list-style: none;
	width: 300px;
	padding: 10px 20px;
	margin: 20px 0;
	font-size: 22px;
	text-align: center;
	color: #fff;
	box-shadow: 0 4px 8px 1px gray;
	background-color: #990000;
	transition: all .3s;
}
.navigation__item:hover{
	background-color: #FF9900;
}



.loginForm{
	height: auto;
	padding: 26px 40px;
	margin: 20px 50px;
	left: 0;
	float: right;
	text-align: left;
	border: 3px solid #990000;
	transition: all .4s;
}
.loginForm:hover{
	box-shadow: -3px 3px 5px 1px gray;
}
.main-body h4{
	margin: 20px 0;
}

.loginForm__login{
}
.loginForm__login--item{
	width: 100%;
	height: 40px;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #990000;
	margin-right: 10px;
	transition: all .3s;
}
.loginForm__login--item:hover{
	border: 1px solid #FF9900;
}

.loginForm__login--submit{
	width: 100px;
	height: 40px;
	font-size: 16px;
	background-color: #990000;
	color: #fff;
	border: 1px solid #990000;
	transition: all .3s;
	float: right;
}
.loginForm__login--submit:hover{
	background-color: #FF9900;
	border: 1px solid #FF9900;
}
.loginForm__login--text{
	width: 100%;
	text-align: center;
}
.loginForm__login--text h5{
	font-size: 15px;
}

.footer{
	width: 100%;
	height: 70px;
	bottom: 0;
	padding: 20px;
	background-color: #990000;
	display:flex;
	align-items: center;
	justify-content: flex-end;
	color: #fff;
}




/*---------------student_list----------------------*/
	
	.school__name--text{
		padding: 10px 0;
	}
	.school__name--text h5{
		font-size: 18px;
	}




	.navigation-2{
		width: 100%;
		height: auto;
	}
	.navigation__items{
		float: left;
		margin-right: 2px;
		margin-bottom: 10px;
		cursor: pointer;
		list-style: none;
		padding: 10px 20px;
		font-size: 17px;
		text-align: center;
		color: #fff;
		background-color: #990000;
		transition: all .3s;
	}
	.navigation__items:hover{
		background-color: #FF9900;
	}
	.navigation__items--last{
		right: 0;
		float: right;
		margin: 0;
	}
	.school-heading{
		width: 100%;
	}




	.button{
		font-size: 15px;
	}
	.button i{
		padding: 3px 6px;
		font-size: 15px;
		background-color: #990000;
		color: #fff;
		cursor: pointer;
	}